/*--- Reset Default Styles --- */
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

main,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

/*--- General Styles ---*/
body {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    background-color: #f8f8fc;
    color: #43414d;
    font-size: 90%;
}

main {
    max-width: 83%;
    padding-top: 2%;
    text-align: center;
    margin: 0 auto;
}

h3 {
    font-weight: normal;
    font-size: 150%;
}


